@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: #333;
    color: white;
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInOut 2s;
    z-index: 10;
}