.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;

    .boardTitle {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        color: #121212;
        margin-bottom: 1rem;
    }

    .homeBoard {
        background: #ffffff;

        display: flex;
        height: auto;
        border-radius: 24px;
        border: 0.1px solid rgb(215, 226, 235);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding: 24px;

        .usersBoard {
            display: flex;
            margin: 3rem auto;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

}

.modalSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}